---
import GitHub from "../../icons/GitHub.astro";
import Gulp from "../../icons/Gulp.astro";
import Tailwind from "../../icons/Tailwind.astro";
import Link from "../../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Bootstrap from "../../icons/Bootstrap.astro";
import JQuery from "../../icons/JQuery.astro";
import Sass from "../../icons/Sass.astro";
import Html from "../../icons/Html.astro";
import CSS from "../../icons/CSS.astro";
import JavaScript from "../../icons/JavaScript.astro";


const TAGS = {
    HTML : {
        name: "HTML",
        class: "bg-[#f16529] text-white",
        icon: Html,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#264de4] text-white",
        icon: CSS,
    },
    JS: {
        name: "JavaScript",
        class: "bg-[#f0db4f] text-black",
        icon: JavaScript,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-[#7952b3] text-white",
        icon: Bootstrap,
    },
    JQUERY: {
        name: "jQuery",
        class: "bg-[#0769ad] text-white",
        icon: JQuery,
    },
    SASS: {
        name: "Sass",
        class: "bg-[#cc6699] text-white",
        icon: Sass,
    },
    GULP: {
        name: "Gulp",
        class: "bg-[#cf4647] text-white",
        icon: Gulp,
    },
};
const PROJECTS = [
    {
        title: "Dashboard Tasks - Designed to efficiently manage your activities. ",
        description:
            "Task board that allows you to create, edit, delete, and mark tasks as completed. It is designed to efficiently manage your daily activities. ",
        link: "https://dashtask.diegot4l.com/",
        github: "https://github.com/DiegoT4l/dashboard-tasks",
        image: "/assets/images/project_dashtask.webp",
        tags: [TAGS.BOOTSTRAP, TAGS.JQUERY, TAGS.SASS]
    },
    {
        title: "Techno and EDM Festival - A landing page for a music  festival. ",
        description:
            "Landing page for a music festival. It has a responsive design and is optimized for mobile devices. ",
        link: "https://festmusic.diegot4l.com/",
        github: "https://github.com/DiegoT4l/Music-Festival-Project",
        image: "/assets/images/project_festmusic.webp",
        tags: [TAGS.SASS, TAGS.GULP]
    },
    {
        title: "BlogDeCafe - A blog about coffee. ",
        description:
            "Blog about coffee. It has a responsive design and is optimized for mobile devices. Especially for coffee lovers. ",
        link: "https://blogcafe.diegot4l.com/",
        github: "https://github.com/DiegoT4l/BlogdeCafe",
        image: "/assets/images/project_blogcafe.webp",
        tags : [TAGS.HTML, TAGS.CSS, TAGS.JS]
    }
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex my-10 flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt="Project Image"
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class="mt-2 text-gray-200">{description}</div>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <GitHub class="size-6" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <Link class="size-4" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
